# XGBoost Regression|

In [61]:
# load data

import pandas as pd
import warnings
%pylab inline

warnings.filterwarnings('ignore')

# load data from url
df = pd.read_csv('./data/Titanic.txt', sep=',', quotechar='"', encoding='ISO 8859-15')
df.info()
df.head()

Populating the interactive namespace from numpy and matplotlib
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   row.names  1313 non-null   int64
 1   pclass     1313 non-null   object
 2   survived   1313 non-null   int64
 3   name       1313 non-null   object
 4   age        633 non-null    float64
 5   embarked   821 non-null    object
 6   home.dest  754 non-null    object
 7   room       77 non-null     object
 8   ticket     69 non-null     object
 9   boat       347 non-null    object
 10  sex        1313 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 113.0+ KB

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [54]:
# Filter some features
features = df[['pclass', 'age', 'sex']]
# Label
label = df['survived']
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pclass  1313 non-null   object
 1   age     633 non-null    float64
 2   sex     1313 non-null   object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB

In [55]:
# Missing values ​​are filled with mean
features['age'].fillna(df['age'].mean(), inplace=True)
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pclass  1313 non-null   object
 1   age     1313 non-null   float64
 2   sex     1313 non-null   object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB

In [56]:
# Divide the dataset
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(features, label, test_size = 0.25, random_state=33)

In [57]:
# Feature vectorization
from sklearn.feature_extraction import DictVectorizer

vec = DictVectorizer(sparse = False)
train_x = vec.fit_transform(train_x.to_dict(orient='record'))
test_x = vec.transform(test_x.to_dict(orient='record'))

In [58]:
# Random forest training and prediction
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(train_x, train_y)
print('The accuracy of random Forest Classifier on testing set:', rfc.score(test_x, test_y))

The accuracy of random Forest Classifier on testing set: 0.7781155015197568

In [63]:
# xgboost training and prediction
from xgboost import XGBClassifier
xb = XGBClassifier()
xb.fit(train_x, train_y)
print(f'The accuracy:', xb.score(test_x, test_y))

[17:13:33] WARNING: /Users/lilithgames/Documents/git/xgboost/python-package/build/temp.macosx-10.9-x86_64-3.7/xgboost/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
accuracy: 0.7750759878419453

## M1 内跑xgboost

在使用xgboost的过程中遇到了一点小障碍，就是在Mac的M1上无法正常运行xgboost，需要折腾一下，以下是安装过程：

### 1. 首先需要有Homebrrew

### 2. 安装gcc和cmake

```shell
brew install gcc
brew instal cmake
```

### 3. 下载xgboost包

是的，无法使用网络包安装，需要自行下载编译安装，还好过程并不麻烦：

源：[http://mirrors.aliyun.com/pypi/simple/xgboost/](http://mirrors.aliyun.com/pypi/simple/xgboost/)

我下载的是`xgboost-1.4.2.tar.gz`

### 4. 安装

进入`cd ~/download/`

运行

```shell
pip install xgboost-1.4.2.tar.gz
```

好了，可以引入试试

```python
from xgboost import XGBClassifier
xb = XGBClassifier()
```