# Heart

In [58]:
# load data

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import classification_report

import warnings

warnings.filterwarnings('ignore')

data = pd.read_csv('./data/heart.csv')
data

"""params
字段名	    含义	
age	      年龄	
sex	      性别(1 = 男性, 0 = 女性)
cp	      胸部疼痛类型(值1：典型心绞痛，值2：非典型性心绞痛，值3：非心绞痛，值4：无症状）
trestbps   血压	
chol	   胆固醇	
fbs	      空腹血糖（> 120 mg/dl，1=真；0=假）	
restecg	   心电图结果（0=正常，1=患有ST-T波异常，2=根据Estes的标准显示可能或确定的左心室肥大）	
thalach	   最大心跳数	
exang	   运动时是否心绞痛（1=有过；0=没有）
oldpeak	   运动相对于休息的ST
slop	   心电图ST segment的倾斜度(值1:上坡，值2:平坦，值3:下坡） 	
ca	      透视检查看到的血管数	
thal	   缺陷种类（3=正常；6=固定缺陷；7=可逆缺陷）
target	   是否患病（0=否，1=是）
"""

'params\n字段名\t    含义\t\nage\t      年龄\t\nsex\t      性别(1 = 男性, 0 = 女性)\ncp\t      胸部疼痛类型(值1：典型心绞痛，值2：非典型性心绞痛，值3：非心绞痛，值4：无症状）\ntrestbps   血压\t\nchol\t   胆固醇\t\nfbs\t      空腹血糖（> 120 mg/dl，1=真；0=假）\t\nrestecg\t   心电图结果（0=正常，1=患有ST-T波异常，2=根据Estes的标准显示可能或确定的左心室肥大）\t\nthalach\t   最大心跳数\t\nexang\t   运动时是否心绞痛（1=有过；0=没有）\noldpeak\t   运动相对于休息的ST\nslop\t   心电图ST segment的倾斜度(值1:上坡，值2:平坦，值3:下坡） \t\nca\t      透视检查看到的血管数\t\nthal\t   缺陷种类（3=正常；6=固定缺陷；7=可逆缺陷）\ntarget\t   是否患病（0=否，1=是）\n'

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [60]:
data.target.value_counts()

1    165
0    138
Name: target, dtype: int64

In [61]:
sex = pd.get_dummies(data['sex'], prefix = 'sex')
data = pd.concat([data, sex], axis = 1)
data.drop(columns= 'sex', inplace=True)

data.head()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,sex_0,sex_1
0,63,3,145,233,1,0,150,0,2.3,0,0,1,1,0,1
1,37,2,130,250,0,1,187,0,3.5,0,0,2,1,0,1
2,41,1,130,204,0,0,172,0,1.4,2,0,2,1,1,0
3,56,1,120,236,0,1,178,0,0.8,2,0,2,1,0,1
4,57,0,120,354,0,1,163,1,0.6,2,0,2,1,1,0

In [62]:
data_y = data.target.values
data.shape

(303, 15)

In [63]:
data_x = data.drop(['target'], axis = 1)
data_x.shape

(303, 14)

In [64]:
train_X, test_x, train_Y, test_y = train_test_split(data_x, data_y, test_size = 0.3, random_state = 33)

ss = StandardScaler()

train_X = ss.fit_transform(train_X)
text_X = ss.transform(test_x)

lr = LogisticRegression()
lr.fit(train_X,train_Y)

lr.score(train_X, train_Y)

0.8537735849056604

In [65]:
lr.score(test_x, test_y)

0.5494505494505495

In [67]:
predict = lr.predict(test_x)
print(classification_report(test_y, predict))
print(predict)

              precision    recall  f1-score   support

           0       0.55      1.00      0.71        50
           1       0.00      0.00      0.00        41

    accuracy                           0.55        91
   macro avg       0.27      0.50      0.35        91
weighted avg       0.30      0.55      0.39        91

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]