In [66]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

df = DataFrame(pd.read_excel('excel1.xlsx'))

# 更新columns名称
df.rename(columns={0:"num",1:"Name",2:"Age",3:"Weight",4:"m006",5:"m0612",6:"m1218",7:"f0006",8:"f0612",9:"f1218"}, inplace=True)
# 对年龄缺失数值使用平均年龄填充
# df['Age'].fillna(df['Age'].mean(), inplace=True)

# 删除全空的行
df.dropna(how ='all', inplace=True)

# 使用高频数据填充
age_maxf = df['Age'].value_counts().index[0]
df['Age'].fillna(age_maxf, inplace=True)
Weight_maxf = df['Weight'].value_counts().index[0]
df['Weight'].fillna(Weight_maxf,inplace=True)
f0612_maxf = df['f0612'].value_counts().index[0]
df['f0612'].fillna(f0612_maxf, inplace=True)

# 将单位统一（lbs）转换为(kgs)
## 获取weight数据列中单位为lbs的数据
row_with_lbs = df['Weight'].str.contains('lbs').fillna(False)

## 将lbs转换为kgs, 2.2lbs = 1kgs
for i,lbs_row in df[row_with_lbs].iterrows():
    # 截取从头开始倒数第三个字符之前，即去掉lbs
    weight = int(float(lbs_row['Weight'][:-3])/2.2)
    df.at[i,'Weight'] = f'{weight}kgs'

# 切分名字，删除源数据列
df[['first_name','last_name']] = df['Name'].str.split(expand=True)
df.drop('Name', axis=1, inplace=True)
# 删除非ASCII字符
df['first_name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df['last_name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

# 删除重复数据行
df.drop_duplicates(['first_name','last_name'], inplace=True)

# 调整顺序
order = ['first_name','last_name','Age','Weight','m006','m0612','m1218','f0006','f0612','f1218']
df = df[order]
print(df)

   first_name last_name   Age Weight m006 m0612 m1218 f0006 f0612 f1218
0      Mickey     Mouse  56.0  70kgs   72    69    71     -     -     -
1      Donald      Duck  34.0  70kgs    -     -     -    85    84    76
2        Mini     Mouse  16.0  85kgs    -     -     -    65    69    72
3     Scrooge    McDuck  52.0  78kgs   78    79    72     -     -     -
4        Pink   Panther  54.0  90kgs    -     -     -    69     -    75
5        Huey    McDuck  52.0  85kgs    -     -     -    68    75    72
6       Dewey    McDuck  19.0  56kgs    -     -     -    71    78    75
7      Scoopy       Doo  32.0  78kgs   78    76    75     -     -     -
10      Louie    McDuck  12.0  45kgs    -     -     -    92    95    87

In [47]:
# 给Simon的，考题(99乘法表)
for n in range(1,10):
    for w in range(1,n+1):
        print(f'{n}*{w}={n*w}',end='\t')
    print(end='\n')

1*1=1
2*1=2	2*2=4
3*1=3	3*2=6	3*3=9
4*1=4	4*2=8	4*3=12	4*4=16
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [53]:
# print('Simon _ a'[3:5])
print('simon'.title())
print('simon_du'.split('_'))
print('simon du'.replace(' ','_'))

on
Simon
['simon', 'du']
simon_du

In [78]:
# 作业
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

df = DataFrame(pd.read_excel('excel2.xlsx'))

# 处理NaN值
df['ounces'].fillna(df['ounces'].mean(), inplace=True)
# 处理不正确的值
df['ounces'] = abs(df['ounces'])
# 处理重复值
df.drop_duplicates(['food'], inplace=True)
# 处理名称大小写
df['food'] = df['food'].str.capitalize()
df

          food  ounces  animal
0        Bacon     4.0     pig
1  Pulled pork     3.0     pig
3     Pastrami     6.0     cow
4  Corned beef     7.5     cow
5        Bacon     8.0     pig
6     Pastrami     3.0     cow
7    Honey ham     5.0     pig
8     Nova lox     6.0  salmon