In [24]:
import pandas as pd
from sklearn import preprocessing
from sklearn.cluster import KMeans

# 输入数据
data = pd.read_excel('data/asia_football_club.xlsx',encoding='gbk')
print(data)
tx = data[['2019年国际排名','2018世界杯','2015亚洲杯']]
df = pd.DataFrame(tx)

# 将数据进行规范化
mms = preprocessing.MinMaxScaler()
tx = mms.fit_transform(tx)

#kmeans算法
kmeans = KMeans(n_clusters=3)
kmeans.fit(tx)
predict_y = kmeans.predict(tx)
print(predict_y)

# 合并聚类结果，插入到元数据中
result = pd.concat((data, pd.DataFrame(predict_y)), axis=1)
result.rename({0:u'聚类'},axis=1,inplace=True)
result

        国家  2019年国际排名  2018世界杯  2015亚洲杯
0       中国         73       40        7
1       日本         60       15        5
2       韩国         61       19        2
3       伊朗         34       18        6
4       沙特         67       26       10
5      伊拉克         91       40        4
6      卡塔尔        101       40       13
7      阿联首         81       40        6
8   乌兹别克斯坦         88       40        8
9       泰国        122       40       17
10      越南        102       50       17
11      阿旻         87       50       12
12      巴林        116       50       11
13      朝鲜        110       50       14
14      印尼        164       50       17
15      澳洲         40       30        1
16     叙利亚         76       40       17
17      约旦        118       50        9
18     科威特        160       50       15
19    巴勒斯坦         96       50       16
[2 0 0 0 0 2 1 2 2 1 1 1 1 1 1 0 1 1 1 1]

        国家  2019年国际排名  2018世界杯  2015亚洲杯  聚类
0       中国         73       40        7   2
1       日本         60       15        5   0
2       韩国         61       19        2   0
3       伊朗         34       18        6   0
4       沙特         67       26       10   0
5      伊拉克         91       40        4   2
6      卡塔尔        101       40       13   1
7      阿联首         81       40        6   2
8   乌兹别克斯坦         88       40        8   2
9       泰国        122       40       17   1
10      越南        102       50       17   1
11      阿旻         87       50       12   1
12      巴林        116       50       11   1
13      朝鲜        110       50       14   1
14      印尼        164       50       17   1
15      澳洲         40       30        1   0
16     叙利亚         76       40       17   1
17      约旦        118       50        9   1
18     科威特        160       50       15   1
19    巴勒斯坦         96       50       16   1

In [ ]:
# 划分成5类
import pandas as pd
from sklearn import preprocessing
from sklearn.cluster import KMeans

# 输入数据
data = pd.read_excel('data/asia_football_club.xlsx',encoding='gbk')
print(data)
tx = data[['2019年国际排名','2018世界杯','2015亚洲杯']]
df = pd.DataFrame(tx)

# 将数据进行规范化
mms = preprocessing.MinMaxScaler()
tsx = mms.fit_transform(tx)

#kmeans算法
kmeans = KMeans(n_clusters=5)
kmeans.fit(tsx)
predict_y = kmeans.predict(tsx)
print(predict_y)

# 合并聚类结果，插入到元数据中
result = pd.concat((data, pd.DataFrame(predict_y)), axis=1)
result.rename({0:u'聚类'},axis=1,inplace=True)
result